<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        
        <!-- Mars News -->
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Mars News</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>{{mars_info.newsTitle}}</h4>
                <p>{{mars_info.newsText}}</p>
            </div>
        </div>

        <!-- Featured Mars Image -->
        <div class="row">
            <div class="col-md-8">
                <h3 class="font-weightbold">Featured Mars Image</h3>
                <img src="{{mars_info.featured_image_url}}" class="w-100 h-100 img-fluid" alt="Featured Mars Image">
            </div>
        
            <!-- Mars Facts -->
            <div class="col-md-4">
                <h3>Mars Facts</h3>
                <div class="table table-bordered table-sm table-responsive">
                {{mars_info.facts | safe}}
                </div>
            </div>
        </div>

        <!-- Mars Hemispheres -->
        <div class="row">
            <div class ="col-md-8 offset-4">
                <h2 class="align-items-center">Mars Hemispheres</h2>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                {% for hemisphere in mars_info.four_hemispheres %}
                <div class="col-md-6">
                    <div class="card m-2">
                        <img class="card-img-top img-fluid" src="{{hemisphere.img_url}}" alt="Mars Hemisphere">
                        <div class="card-body">
                            <h5 class="card-title ">{{hemisphere.title}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>